@media screen and (max-width: 768px) {
    .product {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    :root {
        --product-row-count: 2;
    }
}

@media screen and (max-width: 425px) {
    :root {
        --product-row-count: 3;
    }

   

}

